.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-gap: 10px; 
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}